/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.App {
  background-color: #DFE2E9;
  padding: 10px;
}
.outline{
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #F5F6FA;
  display: flex;
}
.widget{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.split{
  display: flex;
  justify-content: space-between;
}